target/
dbt_packages/
logs/
.docker-root/
.cargo/
.gitpod/
.pyenv_mirror/
.vscode-remote/
.idea
*.zip
/venv/
.user.yml
.pgsql/
.env/
.venv/
__pycache__/
.cache/
*.log
*.duckdb
*.wal
*.gz
node_modules
